{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <script src="{% static 'header.js' %}"></script>
</head>
<body>
    
{% if user.is_authenticated %}
    <div id = 'title-header'>
        <ul> 
            <li id = 'email'> {{ user.email }}</li>
            <li id = 'title'> <strong> Homepage</strong></li>
            <li id="logout-nav"> <button onclick = 'logout_nav(event)'> Logout </button></li>
        </ul>
    </div>
    
    <div class = 'all_cards'>
        <div class= 'card'> 
            <a class = 'btn' href = 'stream_chatbot'> Ask Deepseek </a>
        </div>
        
        <div class = 'card'>
            <a class = 'btn' href = ''> Make Chatbot (wip) </a>
        </div>
    </div>
    
<!-- Add if statement about user.email, whether it starts w charac or numbers-->
    <!-- endif statement-->  
{% else %}
    <div id = 'main'>
        <div class = 'card'id = 'login'>
            <h2> HCI Deepseek Chat Service</h2>
            <a class = 'btn' href="{% provider_login_url 'google' %}">Login with HCI account</a>
        </div>
    </div>
        
{% endif %}   
    
    
</body>
</html>